@media only screen and (max-width: 530px) {
    .wrapper-grid {
        grid-template-columns: repeat(2, minmax(150px, 150px)) !important;
    }

    .card-link .background {
        opacity: 1 !important;
    }

    .card-link .link {
        text-shadow: 1px 1px 0 #000;
    }
}

@media only screen and (min-width: 531px) {
    .card-link .link:hover {
        font-size: 1.1rem;
        text-shadow: 1px 1px 0 #000;
    }

    .card-link .background:hover {
        transform: scale(1.1);
        opacity: 1;
    }
}