.card-link {
    border: none;
}

.card-link .link {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    user-select: none;
    text-align: center;
}

.card-link .background {
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #DE9E36;
    box-shadow: inset 0px 0px 5px 1px #000;

    opacity: 0.5;

    transition: all 100ms cubic-bezier(0.70, 0.70, 1, 3);

    padding: 5px;
}

.card-link .background.-facebook,
.card-link .background.-instagram,
.card-link .background.-github,
.card-link .background.-linkedin,
.card-link .background.-steam {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-link .background.-facebook {
    background-image: radial-gradient(circle, #5471aa, #48639a, #3c558a, #30477b, #243a6c);
}

.card-link .background.-instagram {
    background-image: linear-gradient(to right top, #f2b200, #f49b00, #f48200, #f26810, #ee4b1e, #f03735, #ee2048, #e8005a, #e2007a, #d31d98, #ba38b4, #964dcc);
}

.card-link .background.-github {
    background-image: radial-gradient(circle, #1b1f23, #1c1c20, #1c191b, #1a1617, #171413);
}

.card-link .background.-linkedin {
    background-image: radial-gradient(circle, #83cef7, #68b6e4, #4d9ed2, #3087c0, #0270ad);
}

.card-link .background.-steam {
    background-image: radial-gradient(circle, #1c1c1c, #171717, #111111, #090909, #000000);
}

.card-link .background.-portfolio {
    background-image: radial-gradient(circle, #654b00, #594202, #4d3902, #413002, #362800);
}

.card-link .background.-devsfriends {
    background-image: linear-gradient(to right bottom, #9d4edd, #713cae, #4a2a81, #281854, #10002b);
}