.profile-area {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 50px;
}

.profile-area > .picborder {
    width: 155px;
    height: 155px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--main-color);

    box-shadow: 0px 0px 10px 1px #000;

    margin-bottom: 20px;
    
    transition: all 100ms linear;
}

.profile-area > .picborder:hover {
    transform: scale(1.05);
}

.profile-area > .picborder > .pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-area > .name {
    font-size: 2rem;
    font-weight: 400;

    color: var(--main-color);

    text-shadow: 1px 1px 0 #000;

    margin-bottom: 5px;
}

.profile-area > .description {
    font-size: 1rem;
    font-weight: 300;

    color: var(--main-white);
}